In [42]:
import pandas as pd
import numpy as np

In [3]:
veri1={"isim":["ali","veli","mehmet"],
      "yas":[32,43,23],
      "maas":[100,150,80]}
veri2={"isim":["büşra","zeynep","duygu"],
      "yas":[22,32,29],
      "maas":[120,150,110]}
veri3={"isim":["mahmut","kazım","levent"],
      "yas":[35,42,33],
      "maas":[115,105,120]}

In [4]:
veri1DF=pd.DataFrame(veri1)
veri1DF

     isim  yas  maas
0     ali   32   100
1    veli   43   150
2  mehmet   23    80

In [15]:
veri2DF=pd.DataFrame(veri2,index=[3,4,5])
veri2DF
veri3DF=pd.DataFrame(veri3,index=[6,7,8])
veri3DF

     isim  yas  maas
6  mahmut   35   115
7   kazım   42   105
8  levent   33   120

In [16]:
birlestir=pd.concat([veri1DF,veri2DF,veri3DF])
birlestir

     isim  yas  maas
0     ali   32   100
1    veli   43   150
2  mehmet   23    80
3   büşra   22   120
4  zeynep   32   150
5   duygu   29   110
6  mahmut   35   115
7   kazım   42   105
8  levent   33   120

In [17]:
sozluk1={"isim":["ali","veli","yako"],
        "yas":[32,23,29]}
sozluk2={"isim":["ali","veli","yako"],
        "mevki":["defans","ortasaha","forvet"]}

In [19]:
sozluk1DF=pd.DataFrame(sozluk1)
sozluk2DF=pd.DataFrame(sozluk2)
pd.merge(sozluk1DF,sozluk2DF,on="isim")

   isim  yas     mevki
0   ali   32    defans
1  veli   23  ortasaha
2  yako   29    forvet

In [29]:
yeniveri={"isim":["ali","veli","yako","eto"],
        "mevki":["defans","ortasaha","forvet","forvet"],
         "maas":[200,250,150,250]
         }
yeniveriDF=pd.DataFrame(yeniveri)

In [30]:
yeniveriDF

   isim     mevki  maas
0   ali    defans   200
1  veli  ortasaha   250
2  yako    forvet   150
3   eto    forvet   250

In [31]:
yeniveriDF["mevki"].unique()

array(['defans', 'ortasaha', 'forvet'], dtype=object)

In [32]:
yeniveriDF["mevki"].nunique()

3

In [33]:
yeniveriDF["mevki"].value_counts()

forvet      2
ortasaha    1
defans      1
Name: mevki, dtype: int64

In [36]:
def brutnet(maas):
    return maas*0.66

In [37]:
yeniveriDF["maas"].apply(brutnet)

0    132.0
1    165.0
2     99.0
3    165.0
Name: maas, dtype: float64

In [39]:
calisan={"isim":["ali","veli","yako","yako"],
        "departman":["arge","İK","hukuk","hukuk"],
        "avans":[100,200,150,125]}
calisanDF=pd.DataFrame(calisan)
calisanDF

   isim departman  avans
0   ali      arge    100
1  veli        İK    200
2  yako     hukuk    150
3  yako     hukuk    125

In [44]:
calisanDF.pivot_table(values="avans",index=["isim","departman"],aggfunc=np.sum)

                avans
isim departman
ali  arge         100
veli İK           200
yako hukuk        275